/* <base classes> */
.container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
/* <base classes> */
/* <pseudo classes> */
.d-flex{
    display: flex;
}
/* <pseudo classes> */
/* <header> */
.logo{
    text-align: center;
}
.logo-img{
    max-width: 300px;
    width: 100%;
}
.header-wrapper{
    justify-content: space-between;
    align-items: center; 
    padding: 30px 0;
}
.header-bg{
    background-color: #C47EAC;
}
.fa-search{
    width: 21px;
    color: #FFFFFF;
}
.search-text{
    color:#FFFFFF;
    font-size: 16px;
    font-family: 'Poppins-Regular';
    text-transform: uppercase;
}
.nav-a{
    color:#FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Poppins-Regular';
    transition: 0.5s;
}
.action{
    color: purple;
}
.nav-a:hover{
    color: purple;
}
.nav-li:hover{
    transform:scale(1.1)
}
.nav-li{
    padding: 0 15px;
    transition: 0.5s;
}
.nav-bar{
    display: none;
}
.fa-bars{
    color: #FFFFFF;
    font-size: 30px;
    padding: 0 15px;
    display: none;
    cursor: pointer;
}
.sign-in{
    text-align: center;
}
.fa-user-circle{
    color: #FFFFFF;
    font-size: 20px;
}
.profile-text{
    color: #FFFFFF;
    font-size: 18px;
}
.fa-shopping-cart{
    color: #FFFFFF;
    font-size: 25px;
    margin-left: 20px;
}
.profile{
    align-items: center;
}
/* <header> */
/* <section1> */
.section1{
    background-image: url(../images/hero12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
}
.text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.titile,
.title-2{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color:#E72463;
    margin-bottom: 20px;
}
.title-text{
    font-family: 'Playfair Display', serif;
    color:#E72463;
    font-size: 18px;
    margin-bottom: 10px;
}
.titile-btn{
    max-width: 150px;
    width: 100%;
    height: 50px;
    background-color: #E72463;
    border: none;
    margin-top:40px;
    color: #FFFFFF;
    font-family: 'Poppins-Regular';
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 40px;
}

/* <section1> */
/* </section2> */
.section2{
    background-color: #F5F2F4;
    padding-top:50px;
    padding-bottom: 35px;
}
.box-wrapper,
.box-wrapper2{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.text-box{
    width: 100%;
    text-align: center;
}
.leftboxh5{
    font-size: 24px;
    font-family: 'Poppins-Regular';
    margin-bottom: 10px;
}
.leftboxh2{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 10px;
}
.leftboxtext{
    font-family: 'Poppins-Regular';
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
}
.leftboxbtn{
    max-width: 200px;
    width: 100%;
    background-color: #E72463;
    padding: 20px 16px;
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Poppins-Regular';
    cursor: pointer;

}
.right-box{
    width: 48%;
}
.left-box{
    width: 46%;
}
.rightboximg{
    width: 100%;
    height: 426px;
    object-fit: cover;
    border-radius: 3px;
    transition: 0.5s;
}
.rightboximg:hover{
    opacity: 0.7;
    transform: scale(1.05);
    cursor: pointer;
}
/* </section2> */
/* <section 3> */
.section3{
    padding:70px 0;
}
.title-wrapper{
    text-align: center;
}
.section3-title{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 50px;
}
.imgbox-wrapper{
    flex-wrap: wrap;
    justify-content: space-between;
}
.section3-img1,
.section3-img2,
.section3-img3,
.section3-img4,
.section3-img5,
.section3-img6{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 425px;
    position: relative;
    border-radius: 3px;
}
.section3-img1{
    background-image: url(../images/img1.jpeg);
}
.section3-img2{
    background-image: url(../images/img2.jpeg);
}
.section3-img3{
    background-image: url(../images/img6.jpeg);
}
.section3-img4{
    background-image: url(../images/img4.jpeg);
}
.section3-img5{
    background-image: url(../images/img5.jpeg);
}
.section3-img6{
    background-image: url(../images/plant3.jpeg);
}
.fa-heart{
    position: absolute;
    font-size: 30px;
    color:#E72463;
    top: 5px;
    right: 5px;
    transition: 0.3s; 
}
.fa-heart:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.img-box{
    width: 30%;
    margin-bottom: 80px;
}
.img-text{
    text-align: center;
    background-color: #F5F2F4;
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    bottom: -50px;
    border-radius: 2px;
    padding:10px 0;
    transition: 0.2s;
}
.img-text:hover{
    transform: translate(-50%) scale(1.1);
    cursor: pointer;
}
.fl-name{
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}
.fl-price,
.add{
    margin-bottom: 10px;
    font-size: 12px;
}
.add{
    text-transform: uppercase;
    text-decoration: underline;
    color: black;
    transition: 0.2s;
    font-family: 'Playfair Display', serif;
}
.fl-cart{
    color: black;
    font-size: 12px;
    margin-left: 0px;
    transition: 0.2s;
}
.img-text:hover .add{
    color:#E72463;
}
.img-text:hover .fl-cart{
    color:#E72463;
}
.all{
    text-align: center;
    margin-top: 20px;
    transition: 0.5s;
}
.product{
    font-family: 'Poppins-Regular';
    font-size: 16px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 20px;
    max-width: 100px;
    width: 100%;
}
.all:hover {
    transform: scale(1.1);
}
/* </section3 */

/* <section4> */
.section4-bg{
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 80px 0;
}
.section4-wrapper{
    align-items: center;
}
.florist{
    width: 48%;
    height: 450px;
    margin-right: 60px;
    object-fit: cover;
}
.section4-text-wrapper{
    width: 48%;
}
.sec4-title{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: white;
    line-height: 50px;
    margin-bottom: 20px;
}
.icon-wrapper{
    align-items: center;
    margin-bottom: 20px;
}
.icon-wrapper img{
    margin-right: 30px;
}
.icon-text-box{
    max-width: 300px;
    width: 100%;
}
.icon-text-box h2{
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}
.icon-text-box p{
    font-size: 16px;
    color: white;
    font-family: 'Poppins-Regular';
}
/* </section4> */
/* <section5> */
.section5{
    margin-top: 100px;
    margin-bottom: 50px;
}
.section5-wrapper{
    justify-content: space-between;
    align-items: center;
}
.plant1{
    background-image: url(../images/plant1.jpeg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    width: 30%;
    height:460px;
    transition: 0.5s;
}
.plant1:hover{
    opacity: 0.7;
    transform: scale(1.1);
    cursor: pointer;
}
.plant2{
    background-image: url(../images/plant2.jpeg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    width: 30%;
    height: 550px;
    transition: 0.5s;
}
.plant2:hover{
    opacity: 0.6;
    transform: scale(1.1);
    cursor: pointer;
}
.sec5-text-wrapper{
    /* max-width: 370px; */
    width: 35%;
    text-align: center;
    background-color: #F5F2F4;
    padding:20px ;
    border-radius: 3px;
}
.sec5-text-wrapper h4{
    font-size: 24px;
    line-height: 30px;
    font-family: 'Poppins-Regular';
    margin-bottom: 20px;
}
.sec5-text-wrapper h2{
    font-size: 30px;
    line-height: 40px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}
.sec5-text-wrapper p{
    font-size: 16px;
    line-height: 20px;
    font-family: 'Poppins-Regular';
}
/* </section5> */
/* <section6> */
.section6{
    background-color: #F5F2F4;
    padding: 40px 0;
}
.sec6-title-wrapper{
    text-align: center;
}
.sec6-title-wrapper h3{
    font-size: 24px;
    line-height: 30px;
    font-family: 'Poppins-Regular';
    margin: 10px 0;   
}
.sec6-title-wrapper h2,
.sec7-title-wrapper h2{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    line-height: 60px;
    margin-bottom: 50px;
}
.cust-box-wrapper{
    justify-content: space-between;
    flex-wrap: wrap;
}
.cust-box{
    width: 22%;
    text-align: center;
}
.cust-box img{
    max-width: 100px;
    width: 100%;
    margin-bottom: 20px;
}
.cust-box h2{
    font-size: 24px;
    margin: 20px 0;
    font-family: 'Playfair Display', serif;
}
.fa-star{
    color:#E72463;
}
.cust-box p,
.blog-text{
    font-size: 14px;
    font-family: 'Poppins-Regular';
    line-height: 18px;
}
.name{
    font-size: 16px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
    font-weight: bold;
}
/* </section6> */
/* <section7> */
.section7{
    padding-top: 40px;
    padding-bottom: 80px;
}
.sec7-title-wrapper{
    text-align: center;
}
.posts p{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
    margin-left: 30px;
    letter-spacing: 1px;
}
.post-box{
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.posts-wrapper{
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-img1,
.blog-img2,
.blog-img3{
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    max-width: 350px;
    width: 100%;
    height: 300px;
    position: relative;
}
.blog-img1{
    background-image: url(../images/blog1.jpeg);
}
.blog-img2{
    background-image: url(../images/blog2.jpeg);
}
.blog-img3{
    background-image: url(../images/blog3.jpeg);
}
.blog-img-text{
    position: absolute;
    background-color: black;
    color: white;
    max-width: 120px;
    width:100%;
    text-align: center;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    padding: 5px 0;
    bottom: -10px;
    left: 50%;
    transform: translatex(-50%);
    transition: 0.2s;
}
.post-box:hover .blog-img-text{
    background-color:#d93573;
}
.blog-title{
    text-align: center;
    margin-top: 30px;
    max-width: 250px;
    width: 100%;
}
.blog-title-a{
    font-size: 20px;
    line-height: 20px;
    color: black;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    transition: 0.2s;
}
.blog-title h2{
    margin-bottom: 20px;
}
.post-box:hover .blog-title-a{
    text-decoration: underline;
}
.blog-a{
    text-align: center;
    margin-top: 50px;
}
.blog-a a{
    text-decoration: underline;
    font-size: 18px;
    color: black;
    font-family: 'Poppins-Regular';
}
.blog-date{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
/* </section7> */
body{
    position: relative;
}
.chat{
    position: absolute;
    right: 50px;
    bottom: 50px;
    position: fixed;
    padding: 15px;
    border-radius: 50px;
    border: none;
    background-color: cornflowerblue;
    cursor: pointer;
    font-size: 14px;
}
.fa-comment-dots{
    font-size:16px ;
}
/* <footer> */
.footer{
    background-color: #C47EAC;
    padding: 40px 0;
}
.footer-wrapper{
    justify-content: space-between;
}
.footer-left{
    width: 25%;
}
.footer-left img{
    width: 200px;
}
.footer-text{
    max-width: 260px;
    width: 100%;
    color: white;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Poppins-Regular';
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon-wrapper i{
    margin-right: 10px;
    color:#6600ff;
    font-size: 30px;
}
.footer-right{
    width: 55%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-box-title{
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    line-height: 27px;
    margin-bottom: 20px;
}
.footer-li a{
    color:white;
    font-size: 14px;
    font-family: 'Poppins-Regular';
    line-height: 21px;
}
.footer-li{
    margin-bottom: 10px;
}
.contact-li{
    margin-bottom: 20px;
}
.contact-li a{
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Poppins-Regular';
    line-height: 21px;
    vertical-align: middle;
}
.contact-li i{
    height: 12px;
    margin-right: 14px;
    vertical-align: middle;
    color:#6600ff;
}
.copy{
    max-width: 559px;
    width: 100%;
    color:#B1B1B1;
    margin-top: 30px;
}
.copy span{
    color:blue;
}
/* <footer> */

/* <contact page style> */
.contact-section2{
    padding: 60px 0;
    background-color: #F5F2F4;
}
.contact-title{
    text-align: center;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 50px;
}
.map-section{
    justify-content: center;
    align-items: center;
}
.contact-info{
    text-align: center;
    width: 48%;
}
.city{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
    line-height: 40px;
    letter-spacing: 2px;
}
.info-li{
    margin-bottom: 10px;
}
.info-li p{
    font-size: 18px;
    font-family: 'Poppins-Regular';
    line-height: 21px;
    letter-spacing: 2px;
    opacity: 0.7;
}
.map{
    height: 200px;
    width: 48%;
}
/* <contact section3> */
.contact-section3{
    padding: 50px 0 70px;
}
.contact-title-wrapper{
    text-align: center;
}
.contact-title-wrapper h2{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 25px;
    margin-top: 20px;
}
.contact-title-wrapper p{
    font-size: 18px;
    font-family: 'Poppins-Regular';
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 50px;    
}
.input-wrapper{
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-box{
    flex-direction: column;
    width: 45%;
    margin-bottom: 30px;
}
.message-box {
    flex-direction: column;
}
label{
    font-size: 16px;
    font-family: 'Poppins-Regular';
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.input-box input{
    height: 50px;
    border: 2px solid #E8E8E8;
}
.textarea{
    height: 200px;
    border: 2px solid #E8E8E8;
    margin-bottom: 40px;
}
.contact-btn{
    border: none;
    background-color: #e25896;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px;
    font-family: 'Poppins-Regular';
    border-radius: 4px;
    width: 150px;
    cursor: pointer;
}
.con-btn{
    text-align: center;
}
/* </contact section3> */
/* </contact page style> */

/* <about page styles> */
/* <section1> */
.about-section1{
    background-image: url(../images/about-banner.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
}
.about-titile{
    font-size:50px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    color:white;
    border-radius: 20px;
    letter-spacing: 2px;
}
.about-title2,
.about-title3{
    font-size: 30px;
    font-family: 'Poppins-Regular';
    color:white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.about-title3:hover{
    transform: scale(1.1);
}
.about-title2:hover{
    transform: scale(1.1);
}
.about-title3::after{
    content: '';
    width: 2px;
    height: 25px;
    display: inline-block;
    background-color:white;
    margin: 0 10px;
    vertical-align: middle;
}
.about-title-wrapper{
    align-items: center;
    justify-content: center;
}
/* </section1> */
/* <section2> */
.about-section2{
    margin:80px 0;
}
.about-text-wrapper{
    flex-wrap: wrap;
    justify-content: space-between;
}
.read{
    text-align: right;
    font-family: 'Poppins-Regular';
}
.about-text-box{
    width: 48%;
    border: 1px solid cornflowerblue;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 2px;
}
.about-text-wrapper h5{
    color:#d93573;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}
.about-text-wrapper h2{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    line-height: 30px;
    letter-spacing: 1px;
}
.section2-img-wrapper{
    align-items: center;
    flex-wrap: wrap;
}
.text-block{
    height: 550px;
    width: 50%;
    box-shadow: 3px 10px 21px rgb(99 134 137 / 16%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}
.text-block h3{
    color:#d93573;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif
}
.text-block h2{
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 40px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif
}
.text-block p{
    font-size: 16px;
    font-family: 'Poppins-Regular';
    opacity: 0.7;
    margin-bottom: 40px;
    line-height: 20px;
    letter-spacing: 1px;
}
.about-img{
    background-image: url(../images/about-pic.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 50%;
    border-radius: 2px;
}
/* </section2> */
/* <section3> */
.about-section3{
    padding:60px 0;
}
.service-title-box{
    text-align: center;
}
.service-title-box h4{
    color:#d93573;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}
.service-title-box h2{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 90px;
}
.service-box-wrapper{
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-box{
    width: 31%;
    border:1px solid #f5deef;
    text-align: center;
    padding: 0 20px 20px;
}
.service-box img{
    background-color: white;
    margin-top: -30px;
}
.service-box h2{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
    margin: 30px 0;
    text-decoration: underline;
    transition: 0.4s;
}
.service-box:hover h2{
    cursor: pointer;
    transform: scale(1.1);
}
.service-box p{
    font-size: 16px;
    font-family: 'Poppins-Regular';
    opacity: 0.7;
    margin-bottom: 50px;
    line-height: 25px;
    letter-spacing: 1px;
}
/* </section3> */
/* <section4> */
.team-section4{
    padding:60px 0;
    background-color: #F5F2F4;
}
.team-title-wrapper h3{
    color:#d93573;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
.team-title-wrapper h2{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 70px;
}
.team-img-wrapper{
    justify-content: space-between;
    flex-wrap: wrap;
}
.team-box{
    width: 22%;
    box-shadow: -3px 10px 21px rgb(99 134 137 / 16%);
}
.team-box img{
    width: 100%;
    transition: 0.4s;
}
.team-img-text{
    background-color: white;
    text-align: center;
    padding: 20px 0;
}
.team-img-text h2{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    transition: 0.4s;
}
.team-img-text p{
    color:#d93573;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: 'Poppins-Regular';
    text-transform: uppercase;
}
.team-box:hover h2{
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.1);
}
.team-box:hover img{
    opacity: 0.6;
    cursor: pointer;
    transform: scaleY(1.05);
}
/* </section4> */
/* </about page styles> */